* {
  color: #fff;
}

.container {
  min-height: 100vh;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #101010;
}

.information {
  background-color: #101010;
  display: inline-block;
  min-height: 100vh;
  height: 100vh;
  width: 89%;
  float: right;
}
