.header {
  /* background-color: lightblue; */
  min-height: 100vh;
  background-size: cover;
  position: relative;
  width: 100%;
}

.center-content {
  text-align: center;
}

.prime {
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #101010;
}

.sec {
  font-size: 25px;
  color: #444444;
  font-weight: 300;
  margin-top: 20px;

  margin-bottom: 30px;
}
