.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}

.content {
  width: 50%;
  padding: 7% 5% 50px 9%;
  height: 100%;
}
.title {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #e2e2e2;
}

.paragraphs {
  color: #e2e2e2;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 300;
}

.resume {
  color: #a14040;
}

.linked {
  padding-left: 10px;
  text-decoration: none;
}
